{{ define "main" }}

<header class="archive-header has-text-align-center header-footer-group">
  <div class="archive-header-inner section-inner medium">
    <h1 class="archive-title"><span class="color-accent">Cerca:</span> “<script>var str=(window.location.search).substr(3);var result=str.replace("+"," ");document.write(result);</script>”</h1>
    <div class="archive-subtitle section-inner thin max-percentage intro-text">
    </div>
  </div><!-- .archive-header-inner -->
</header><!-- .archive-header -->

<div id="search-results"></div>
<script id="search-result-template" type="text/x-js-template">
  <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-art category-editing tag-block tag-editor tag-gutenberg tag-wordpress" id="summary-${key}" style="padding: 8rem 0;">
    <header class="has-text-align-center">
      <div class="entry-header-inner section-inner medium">
        <div class="entry-categories">
          <!--
          <div class="entry-categories-inner">
            <a href="{{ `categories/` | relLangURL }}${categories}" rel="category tag">${categories}</a>
          </div>
          -->
        </div>
        <h2 class="entry-title heading-size-1"><a href="${link}">${title}</a></h2>
      </div>
    </header>
    <div class="post-inner thin ">
      <div class="entry-content">
        <p>${snippet}</p>
        <div class="read-more-button-wrap"><a href="${link}"
            class="more-link"><span class="faux-button">Continue Reading</span></a></div>
      </div>
    </div>
    

    
  </article>
  <hr class="post-separator styled-separator is-style-wide section-inner" aria-hidden="true">
</script>

{{ end }}