{{ define "main" }}

<article class="page type-page status-publish hentry">
	<header class="entry-header has-text-align-center header-footer-group">
		<div class="entry-header-inner section-inner medium">
			<h1 class="entry-title">{{ .Title }}</h1>
		</div>
	</header>
	<div class="post-inner thin">
		<div class="entry-content">
			{{ .Content }}
		</div>

	</div>
</article>

      {{ if .Site.Params.call_to_action.enable }}
      {{ with .Site.Params.call_to_action }}
      <div class="wp-block-group alignwide has-background" style="background-color:#ffffff">
        <div class="wp-block-group__inner-container">
          <div class="wp-block-group">
            <h3>{{ .title | markdownify }}</h3>
            <br />
            <div class="wp-block-group__inner-container">
              <h5>{{ .content | markdownify }}</h5>
            </div>
            <br />
            

            {{ partial "subscribe_nocss.html" . }}


          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}





{{ end }}